@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --primary: #7DC3FD;
  --secondary: #ECF6FE;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #444;
}

.wrapper {
  height: 100vh;
  background-color: var(--secondary);
}

.title {
  padding: 40px 30px 20px 30px;
  margin: 0;
  text-align: center;
  font-size: 30px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;  
}

.section-title {
  color: #fff;
  margin: 20px;
  text-align: center;
  font-size: 18px;
}

.item {
  padding: 10px;
  color: var(--primary);
  background-color: #fff;
  margin: 10px;
  border-radius: 3px;
  font-size: 14px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  cursor: pointer;
}
.droppable-item {
  background-color: var(--primary);
  width: 250px;
  min-height: 300px;
  margin: 20px;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
