.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-title {
  color: #fff;
  margin: 20px;
  text-align: center;
}

.item {
  padding: 10px;
  color: blue;
  background-color: #fff;
  margin: 10px;
}

.droppable-item {
  background-color: green;
  width: 250px;
  min-height: 300px;
  margin: 20px;
  padding: 5px;
}
